@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,600&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Open Sans', sans-serif;
}
#current-image-container{
    background-color: #131212;
    color: white;
    width: 85vw;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-inline: auto;
  
}
#day_heading{
    padding: 40px 40px;

}
/* #img_conatiner{
    width: 100%;
    height: fit-content;
}
#img_conatiner>img{
    max-height: 400px;
   width: auto;
    padding-left: 40px;
} */


#img_conatiner {
    max-width: 100%;
    height: auto;
    
}

#img_conatiner>img {
    max-width: 100%;
    max-height: 650px;
    display: block;
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
    
}
#img_heading{
    padding-block: 30px;
    font-size: 30px;
    font-weight: 500;
}
#img_info{
    width: 80%;
    padding: 10px 50px 30px 40px;
    text-align: justify;
    line-height: 25px;
    font-weight: 200;
}
/* form style */

label{
    font-size: 18px;
    padding-right: 10px;
}
#search-input{
    padding: 3px 6px;
    font-size: 18px;
    cursor: pointer;
}
#btn{
    padding: 3px 16px;
    font-size: 20px;
    margin-left: 18px;
    border-radius: 8px;
    transition: all 0.8s ease;
    cursor: pointer;
    background-color: #ababab;
    border: none;
}
#btn:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px gray;
    outline: none;
}


/* search section */

#search-form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

}
#prev_searches{
    margin-top: 30px;
    padding: 30px 0px 30px 0px;
    background-color: #F5F8FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#search-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 20px;
    list-style: none;
}
@media only screen and (min-width: 600px) and (max-width: 1200px){
#img_info {
        width: 90% !important;
        padding: 10px;
        font-size: 16px;
    }
#img_conatiner {
        max-width: 90%;
    }
 #day_heading,#img_heading{
    font-size: 26px;
 }
}

@media only screen and (max-width: 600px) and (min-width: 420px) {
    #img_conatiner {
            max-width: 90%;
        }
    #img_info {
        width: 90% !important;
        padding: 10px 5px 10px 5px;
        font-size: 15px;
    }
    #day_heading,#img_heading{
        font-size: 20px;
        padding: 25px 10px;
    }
    #img_conatiner{
        max-width: 90%;
    }
   label,#search-input,#btn{
    font-size: 15px;
   }
   #prev_searches{
        padding: 20px 0px 20px 0px;
        gap: 10px;
   }
   #prev_searches>h2 ,#search-form>h2{
    font-size: 18px !important;
   }
  
}
@media only screen and (max-width:420px){
    #day_heading,#img_heading {
            font-size: 18px;
            padding-block: 30px ;
        }
    #current-image-container{
        width: 100vw;
    }
    #prev_searches>h2, label,
     #search-input,
     #btn,#search-form>h2{
        font-size: 15px;
    }
    #prev_searches{
        padding: 20px 0px 20px 0px ;
    }
    #img_info {
            width: 90% !important;
            padding: 0px 5px 10px 5px;
            font-size: 16px;
    }
     #img_conatiner {
            max-width: 90%;
   }
   #search-input{
    padding: 1px 2px;
   }
   #btn{
    padding: 4px 8px;
    margin-left: 10px;

   }
   label{
    padding-right: 5px;
   }
}

